<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>537561058076-dqbtff577kopsir42c254jlivfjhbmtf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.537561058076-dqbtff577kopsir42c254jlivfjhbmtf</string>
	<key>API_KEY</key>
	<string>AIzaSyBbF6tY2UPLuyj_W1nHnGzWE9knV1t30eE</string>
	<key>GCM_SENDER_ID</key>
	<string>537561058076</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.sr.ios.flashchat</string>
	<key>PROJECT_ID</key>
	<string>flashchatdemo-72d04</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchatdemo-72d04.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:537561058076:ios:ea95debe6d0b93e5de08d9</string>
</dict>
</plist>